
<a href="<%= url_for new_folder_path %>" class="btn link-btn new-btn">
  <i class="fa fa-plus"></i>&nbsp;&nbsp;
  Add Folder
</a>

<div class="folders-container">
  <% @folders.each do |folder| %>
    <div class="folder-box">
      <p class="title">
        <%= folder.title %>
      </p>
      <% if folder.hours? %>
        <p class="type"><i class="fa fa-clock-o"></i></p>
      <% else %>
        <p class="type"><i class="fa fa-check-circle-o"></i></p>
      <% end %>
      <hr>
      <p class="description">
        <%= folder.description %>
      </p>
      <div class="toolbar">
        <%= link_to 'X', folder, class: "toolbar-item delete-btn", method: :delete, data: { confirm: 'Are you sure?' } %>
        <a class="toolbar-item edit-btn" href="<%= url_for edit_folder_path(folder) %>">
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;&nbsp;
          Edit
        </a>
        <% if folder.note_type == "hours" %>
          <a class="toolbar-item open-btn" href="<%= "/folders/hour_notes?id=#{ folder.id }" %>">
            <i class="fa fa-folder-open-o" aria-hidden="true"></i>&nbsp;&nbsp;
            Open
          </a>
        <% elsif folder.note_type == "todo" %>
          <a class="toolbar-item open-btn" href="<%= "/folders/todo_notes?id=#{ folder.id }" %>">
            <i class="fa fa-folder-open-o" aria-hidden="true"></i>&nbsp;&nbsp;
            Open
          </a>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
