
<a href="<%= "/folders/new_note?folder_id=#{ @folder.id }" %>" class="btn new-btn">
  Add Note
</a>

<table id="notes-table" class="order-table">
  <thead>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th>Additional</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  </thead>
  <tbody>
  <% @notes.each do |note| %>
      <tr>
        <td><%= note.title %></td>
        <td><%= note.content %></td>
        <td><%= note.additional %></td>
        <td class="edit"> <a href="<%= "/folders/edit_note?note_id=#{ note.id }&folder_id=#{ @folder.id }" %>"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
        <td class="delete"> <%= link_to 'X', note,  method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>
