
<a href="<%= url_for new_notes_path %>" class="btn new-btn">
  Add Note
</a>

<table id="notes-table" class="order-table table">
  <thead>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th>Additional</th>
  </tr>
  </thead>
  <tbody>
  <% @notes.each do |note| %>
      <tr>
        <td><%= note.title %></td>
        <td><%= note.content %></td>
        <td><%= note.additional %></td>
        <td> <a href="<%= url_for edit_note_path(note) %>"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>
        <td> <%= link_to 'X', note,  method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>
